<html>
  <head>
    <meta charset="UTF-8" />
    <title><%= pageTitle %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">MIS</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="#">Page 1</a></li>
            <li><a href="#">tips of the day</a></li> -->
            <li><a href="/aboutus">About us</a></li>
          </ul>
        </div>
      </nav>
      <!-- <div class="flex-container"> -->
      
    <h1 class="krish">Welcome to MIS</h1>
    <h2 class="krish">search your medicine</h2>
    <!-- <img src="https://4.imimg.com/data4/AW/AE/MY-4092588/paracetamol-tablets-500x500.jpg" alt="Paracetomol" /> -->
    <br />
    <!--<li><a class="aa" href="/aboutus.html">Add_products</a></li>-->
    <!--<form action="/aboutus.html" method="POST"><input type="text" name="aboutus"><button type="submit">Send</button></form> -->
    <!--<button>buy</button>-->
    <!-- <form action="/views/paracetamol.html">
      <input class="medicine" type="submit" value="Buy" />
    </form> -->

    <!-- <form action="/views/test.html">
        <input class="medicine" type="submit" value="nope" />
    </form> -->

    <form action="/medicine_search" method="POST">
      <!-- <input type="text" name="Medicine_name"> -->
      <input class="box" id="color" list="suggestions" name="Medicine_name">
      <datalist id="suggestions">
          <option value="Paracetamol">
          <option value="Atarax">
          <option value="Green">
          <option value="Blue">
          <option value="White">
      </datalist>
      <br>
      <br>
      <input class="search" type="submit" value="Search">
    </form>
  <!-- </div> -->
  </body>
</html>
