.krish{
    margin-left: 575px;
}

.medicine{
    height: 60px;
    width: 80px;
    margin-left: 640px;
}

img{
    height: 200px;
    width: 200px;
    margin-left: 615px;
}

.form{
    margin-left: 575px;
}

.search{
    margin-left: 100px;
    color: #222;
    background-color: white;
    border: solid 1px #222;
    border-radius: 5px;
    height: 33px;
    width: 63px;
}

.search:hover{
    
        background-color: #222;
        color: white;
        font-weight: bold;
}
.box{
    padding-left: 23px;
    margin-left: 33px;
}

.flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    margin-left:200px;
    width: 200px;
    height:200px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .logout-btn{
    margin-top: 13px;
    color: #9d9d9d;
    background-color: #222; 
    border: solid 1px #222;
}

.logout-btn:hover{
    color: white;
}
  @media screen and (min-width:300px) and (max-width:1000px){
    .namek{
        margin-left: 98px;
    }

    form{
        margin-left: -20px;
    }
    h1,h2{
        margin-left: 60px;
    }

}